<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add profile</title>
</head>
<body>
    <h2>Uj Profile</h2>

    <form data-th-object="${profileData}" data-th-action="@{/profiles}" enctype="multipart/form-data" method="post">
        <input type="text" data-th-field="*{name}">
        <input type="file" data-th-field="*{profilePicture}" multiple="multiple">
        <input type="submit" value="Mentes">
    </form>

    <p>
        <a data-th-href="@{/profiles}">Profiles</a>
    </p>
</body>
</html>